**/Library/
**/Temp/
**/Logs/
**/obj/
/.vs/AdvancedGOAP/FileContentIndex/d25b4630-a352-46ca-a54d-3e1642b228c6.vsidx
/.vs/AdvancedGOAP/FileContentIndex/3cbf9640-2e27-4183-aae3-150de114b569.vsidx
/.vs/AdvancedGOAP/FileContentIndex/40965f29-ba26-42a2-a7ad-7061e74a35b9.vsidx
/.vs/AdvancedGOAP/FileContentIndex/df6c96b6-a541-40bf-ba26-8301e47c5816.vsidx
/.vs/AdvancedGOAP/FileContentIndex/8d345a0a-ebd8-463b-8c7b-1b952f9cc5ef.vsidx
/.vs/AdvancedGOAP/FileContentIndex/569abd80-db6a-40d2-962b-342f211af95b.vsidx
/.vs/AdvancedGOAP/FileContentIndex/50a53210-4a8c-4672-84ae-b85532c9d858.vsidx
/.vs/AdvancedGOAP/FileContentIndex/fc1abdbc-6d70-4c67-bd24-047a1da43d75.vsidx
/.vs/AdvancedGOAP/FileContentIndex/cc89937d-38cf-45d0-a1d9-8a6b68e3e866.vsidx
/.vs/AdvancedGOAP/FileContentIndex/cc5f1024-72e5-4d19-8306-ba57452e2e4e.vsidx
/.vs/AdvancedGOAP/FileContentIndex/6f77bd5a-350b-41a3-bceb-1f9fb4a9863f.vsidx
/.vs/AdvancedGOAP/FileContentIndex/513a2790-91c6-4775-b4d5-f60091b8711b.vsidx
/.vs/AdvancedGOAP/FileContentIndex/10eab921-cbdd-42a3-83b4-14b0ce287131.vsidx
/.vs/AdvancedGOAP/v17/.suo
/ProjectSettings/Packages/com.unity.learn.iet-framework/Settings.json
/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
/ProjectSettings/ShaderGraphSettings.asset
/AdvancedGOAP.sln
/UnityEngine.TestRunner.csproj
/UnityEditor.TestRunner.csproj
/Unity.VSCode.Editor.csproj
/Unity.VisualStudio.Editor.csproj
/Unity.VisualScripting.State.Editor.csproj
/Unity.VisualScripting.State.csproj
/Unity.VisualScripting.Shared.Editor.csproj
/Unity.VisualScripting.SettingsProvider.Editor.csproj
/Unity.VisualScripting.Flow.Editor.csproj
/Unity.VisualScripting.Flow.csproj
/Unity.VisualScripting.Core.Editor.csproj
/Unity.VisualScripting.Core.csproj
/Unity.Tutorials.Core.Editor.csproj
/Unity.Tutorials.Core.csproj
/Unity.Timeline.Editor.csproj
/Unity.Timeline.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.csproj
/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.csproj
/Unity.TestTools.CodeCoverage.Editor.csproj
/Unity.Settings.Editor.csproj
/Unity.Searcher.Editor.csproj
/Unity.Rider.Editor.csproj
/Unity.PlasticSCM.Editor.csproj
/Unity.Performance.Profile-Analyzer.Editor.csproj
/Unity.Mathematics.Editor.csproj
/Unity.Mathematics.csproj
/Unity.InternalAPIEngineBridge.007.csproj
/Unity.InternalAPIEditorBridge.007.csproj
/Unity.InputSystem.csproj
/Unity.EditorCoroutines.Editor.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.Burst.Editor.csproj
/Unity.Burst.csproj
/Unity.Burst.CodeGen.csproj
/com.unity.cinemachine.editor.csproj
/Cinemachine.csproj
/Assembly-CSharp.csproj
/.vs/AdvancedGOAP/v17/fileList.bin
/.vs/AdvancedGOAP/v17/.wsuo
